In [1]:
import pandas as pd 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df=pd.read_csv('/content/drive/MyDrive/0.MKCE/Datasets/HR_comma_sep.csv')

In [10]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [11]:
df = pd.get_dummies(df)
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_IT,Department_RandD,...,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [15]:
y=df['left'].values
x=df.drop(['left'],axis=1).values

In [16]:
#splittingthe dataset into the traning set and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [28]:
#DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()

In [29]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [30]:
#prediction

y_pred=model.predict(x_test)

y_pred

array([1, 0, 0, ..., 1, 0, 0])

In [31]:
# probability of occurence 1 or 0 in place of corresponding x_test values
model.predict_proba(x_test)

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [32]:
x_test

array([[0.44, 0.57, 2.  , ..., 0.  , 0.  , 1.  ],
       [0.55, 0.96, 3.  , ..., 0.  , 0.  , 1.  ],
       [0.72, 0.67, 5.  , ..., 0.  , 0.  , 1.  ],
       ...,
       [0.37, 0.54, 2.  , ..., 0.  , 0.  , 1.  ],
       [0.52, 0.61, 4.  , ..., 0.  , 1.  , 0.  ],
       [0.13, 0.65, 4.  , ..., 0.  , 0.  , 1.  ]])

In [33]:
#to measure accuracy of model

from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

accuracy_score(y_test,y_pred)

0.983

In [34]:
confusion_matrix(y_test,y_pred)

array([[2270,   29],
       [  22,  679]])

In [35]:
a=classification_report(y_test,y_pred)
print(a)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      2299
           1       0.96      0.97      0.96       701

    accuracy                           0.98      3000
   macro avg       0.97      0.98      0.98      3000
weighted avg       0.98      0.98      0.98      3000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   satisfaction_level      14999 non-null  float64
 1   last_evaluation         14999 non-null  float64
 2   number_project          14999 non-null  int64
 3   average_montly_hours    14999 non-null  int64
 4   time_spend_company      14999 non-null  int64
 5   Work_accident           14999 non-null  int64
 6   left                    14999 non-null  int64
 7   promotion_last_5years   14999 non-null  int64
 8   Department_IT           14999 non-null  uint8
 9   Department_RandD        14999 non-null  uint8
 10  Department_accounting   14999 non-null  uint8
 11  Department_hr           14999 non-null  uint8
 12  Department_management   14999 non-null  uint8
 13  Department_marketing    14999 non-null  uint8
 14  Department_product_mng  14999 non-null  uint8
 15  Department_sales        14999 non-null  uint8
 16  Department_support      14999 non-null  uint8
 17  Department_technical    14999 non-null  uint8
 18  salary_high             14999 non-null  uint8
 19  salary_low              14999 non-null  uint8
 20  salary_medium           14999 non-null  uint8
dtypes: float64(2), int64(6), uint8(13)
memory usage: 1.1 MB